@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
  padding: 0;
  margin: 0;
}

.search-bar {
  position: absolute;
  top: 3px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.searchInp{
  height: 30px;
  width: 100%;
  outline: none;
  font-size: 2rem;
  border: none;
  border-bottom: 2px solid #bbb;
  padding: 0;
  padding-left: 5px;
  background-color:  transparent;
  color: #eee;
  font-size: 1rem;
  transition: .2s;
}
.searchInp::placeholder{
  color: #bbb;
}
.searchInp:focus{
  border-bottom: 3px solid#eee;
}

::-webkit-scrollbar {
  width: 7px;
  background-color: red;
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: #797979;
  border-radius: 20px;
  border: 2px solid #f1f2f3;
}

.search-list {
  position: absolute;
  border-radius: 7px;
  top: 63px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}