.bathlist {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

.filter {
    margin-left: 20px;
    width: 8rem;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.bath-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
}

.bath-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-btn-container {
    display: flex;
    justify-content: flex-end;
}

.container-not-found {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}

.error-title {
    font-size: 40px;
    font-weight: 700;
    color: #1976d2;
}

.error-message {
    font-size: 20px;
    font-weight: 700;
    color: #333;
}

.notfound-image {
    width: 40%;
    height: auto;
}